@using MvcStok.Models.Entity
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<TBLKATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table class="table table-bordered" >
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
        <tr>
            <th>@ktgr.KATEGORIID</th>
            <td>@ktgr.KATEGORIAD</td>
            <td>@Html.ActionLink("Sil ", "Sil", new { id = ktgr.KATEGORIID }, new { @class = "btn btn-danger", onclick = "return confirm ('Silmek İstediğine Eminmisin')" })</td>
            <td><a href="/Kategori/KategoriGetir/@ktgr.KATEGORIID" class="btn btn-success">Güncelle</a></td>
           
        </tr>
        }

    </tbody>

</table>
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new {sayfa}))

<a href="/kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>